<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignment3">

    <!-- 외부 저장공간에 대한 읽기 권한 부여 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Music App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 노티피케이션을 통해 다시 메인액티비티에 접근시 중복하여 액티비티가 열리는 것을 방지 -->
        <activity android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 서비스 사용을 위해 등록 -->
        <service android:name=".MusicService"></service>
    </application>

</manifest>